/* END GENERAL */
/* SKILLS */
#logo {
  font-family: "Forte", "Lucida Bright", serif;
  position: relative;
  top: -2px;
  left: -24px;
  font-size: 1.8em;
  margin: 0;
  font-weight: 900;
  filter: drop-shadow(0 0px 124px hsl(257, 27%, 47%)) drop-shadow(0 1px 1px hsla(257, 16%, 15%, 0.15)) drop-shadow(0 0px 80px hsl(257, 12%, 70%));
  display: flex;
  transform: scale(0.87);
}

#logo-text {
  position: relative;
  left: 25px;
  letter-spacing: 0.038em;
  filter: brightness(1.07);
  font-size: 1.15em;
  font-weight: 100;
  display: flex;
  transform: scaleX(1.04);
}

#angle-brackets-container {
  position: relative;
  top: 4px;
  letter-spacing: -0.0025em;
  filter: saturate(1.175) drop-shadow(0px 0px 0px hsla(205, 100%, 40%, 0.35)) drop-shadow(1px 4px 6px hsl(257, 5%, 10%));
}

#open-angle-bracket, #close-angle-bracket {
  font-family: "Source Code Pro", monospace;
  filter: drop-shadow(0px 0px 1px hsl(257, 50%, 30%));
  background: linear-gradient(to top, hsl(256, 80%, 50%), hsl(110, 90%, 60%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#close-angle-bracket {
  position: relative;
  right: -12px;
}

#letter-j, #letter-g {
  font-family: "Lucida Bright", serif;
  font-style: italic;
}

.hole-cover {
  background-color: hsl(261, 55.31%, 14.2%);
  position: absolute;
  filter: drop-shadow(0 0 6px hsla(261, 20%, 20%, 0.3));
  border-radius: 50%;
}

.letter-e {
  width: 0.107em;
  height: 0.23em;
  transform: rotate(20deg);
  opacity: 0.83;
  top: 0.6em;
}

.letter-s {
  height: 0.15em;
  width: 0.107em;
  opacity: 0.75;
}

#jose-letter-s-hole-one, #guedes-letter-s-hole-one {
  top: 0.6em;
}

#jose-letter-s-hole-two, #guedes-letter-s-hole-two {
  top: 0.858em;
}

#jose-letter-s-hole-one {
  left: 0.78em;
}

#jose-letter-s-hole-two {
  left: 0.725em;
}

#jose-letter-e-hole {
  left: 1.255em;
}

#guedes-letter-e-one-hole {
  left: 4.025em;
}

#guedes-letter-e-two-hole {
  left: 5.08em;
}

#guedes-letter-s-hole-one {
  right: 0.16em;
  width: 0.135em;
}

#guedes-letter-s-hole-two {
  right: 0.168em;
  width: 0.135em;
  opacity: 0.82;
}

#guedes-letter-d-hole {
  width: 0.107em;
  height: 0.35em;
  transform: rotate(20deg);
  opacity: 0.83;
  top: 0.57em;
  right: 1.26em;
}

#guedes-letter-u-hole {
  width: 0.107em;
  height: 0.35em;
  transform: rotate(20deg);
  opacity: 0.83;
  top: 0.525em;
  right: 2.264em;
}

#jose-text, #guedes-text, #letter-g, #letter-j {
  filter: drop-shadow(0px 0px 1px hsl(257, 5%, 72%)) drop-shadow(0px 2px 6px hsl(257, 5%, 10%)) drop-shadow(0px 0px 3px hsla(257, 50%, 30%, 0.3));
}

#jose {
  background: linear-gradient(to bottom, hsl(257, 15%, 97%), hsl(257, 36%, 70%));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* For non-webkit browsers */
  -webkit-text-fill-color: transparent; /* For webkit browsers */
  margin-right: 6px;
  position: relative;
  left: -2px;
}

#jose-text {
  background: linear-gradient(to bottom, hsl(257, 15%, 97%), hsl(257, 36%, 70%));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* For non-webkit browsers */
  -webkit-text-fill-color: transparent; /* For webkit browsers */
}

#guedes-text {
  background: linear-gradient(to bottom, hsl(257, 15%, 97%), hsl(257, 36%, 70%));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* For non-webkit browsers */
  -webkit-text-fill-color: transparent; /* For webkit browsers */
}

#letter-j {
  background: linear-gradient(to bottom, hsl(257, 15%, 97%), hsl(257, 36%, 70%));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* For non-webkit browsers */
  -webkit-text-fill-color: transparent; /* For webkit browsers */
  font-size: 1.05em;
  filter: drop-shadow(0px 0px 1px hsl(257, 30%, 80%)) drop-shadow(1px 4px 6px hsl(257, 20%, 8%));
  width: 0.56em;
}

#letter-g {
  background: linear-gradient(to bottom, hsl(257, 67.88%, 68.13%), hsl(257, 43.34%, 48%));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; /* For non-webkit browsers */
  -webkit-text-fill-color: transparent; /* For webkit browsers */
  font-size: 1.1em;
  margin-right: 2px;
  width: 0.82em;
}

#paint-brush-container {
  position: absolute;
  top: -60px;
  left: -6px;
  transform: scale(0.09);
  filter: drop-shadow(0px 0px 1px hsla(257, 80%, 80%, 0.2)) drop-shadow(0px 0px 1px hsla(110, 50%, 50%, 0.05));
}

/* BRUSH ICON */
#paint-brush-handle {
  position: relative;
  /* height: 300px; */
  width: 40px;
  /* border-radius: 0 0 40% 40%; */
  transform: rotate(20deg) scaleY(6);
  z-index: 0;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-top: 30px solid #7c5fca;
  box-sizing: content-box;
  border-radius: 5px;
  /* turn into trapezoid */
  /* black band top of handle */
}
#paint-brush-handle::before {
  display: block;
  content: "";
  position: relative;
  height: 30px;
  width: 48px;
  border-radius: 0 0 40% 40%;
  transform: translateY(-15px) translateX(-4px);
  background: linear-gradient(to bottom, #7c5ec9 30%, #70c95f);
}
#paint-brush-handle::after {
  content: "";
  display: block;
  width: 56px;
  height: 3px;
  background: hsl(256, 30%, 20%);
  position: absolute;
  top: -25px;
  left: -8px;
}

#paint-brush-tip {
  width: 70px;
  height: 100px;
  background: linear-gradient(180deg, hsl(55, 80%, 70%), hsl(48, 90%, 42%));
  transform: rotate(0deg) translateX(-65px) translateY(90px) skew(-10deg, -10deg);
  border-radius: 50% 50% 50% 0%;
}

/* END BRUSH ICON */

/*# sourceMappingURL=Logo.css.map */
